<h1>Seja Bem-Vindo</h1>
<p><strong>Data: <%= data_br(Date.today) %></strong></p>

<h2><%= nome_aplicacao%><h2>
<ul>
  <!--
    De preferencia utilizar o link_to ao inves do <a>
  -->
 <li>
  <%= link_to "Cadastro de Moedas", coins_path %>
 </li>

</ul>
