<h1>Seja Bem-Vindo</h1>
<p>Caio Correa</p>
<!--
  mais um filho do asp??
-->
<p>1 + 1 != <%= 1+1 %></p>

<p>Seu nome de tras para frente é: <%= "Caio".reverse %></p>

<% ax = "Variavel que varia"%>
<p>Imprimindo a Variavel: <%= ax %></p>
<p>Data atual: <%= Date.today%></p>
